<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://houseofkings.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>houseofkings.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HouseOfKings</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$HouseOfKings</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:z0slfjx5fd.database.windows.net,1433;Initial Catalog=HouseOfKings_db;User ID=Charly@z0slfjx5fd;Password=!dnom1aid" Name="Data Source=tcp:z0slfjx5fd.database.windows.net,1433;Initial Catalog=HouseOfKings_db;User Id=Charly@z0slfjx5fd;Password=!dnom1aid" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HouseOfKings.Web.DAL.HouseOfKingsContext, HouseOfKings.Web" MigrationConfiguration="HouseOfKings.Web.Migrations.Configuration, HouseOfKings.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:z0slfjx5fd.database.windows.net,1433;Initial Catalog=HouseOfKings_db;User Id=Charly@z0slfjx5fd;Password=!dnom1aid</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>