@model HouseOfKings.Web.ViewModels.GameViewModel
@{
    ViewBag.Title = "Game";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/hok.game.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '@Url.Action("IsUsernameDefined","Account")',
                type: 'GET'
            }).done(function (response) {
                if (!response) {
                    $('#modal-username').modal({ backdrop: 'static', keyboard: false });
                }
            });

            $(document).on('submit', 'form#temp-username', function (event) {
                event.preventDefault();
                $form = $(this);
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize()
                }).done(function (response) {
                    $form.replaceWith(response);
                })
            });
        });
    </script>
}

<div class="modal fade" id="modal-username" tabindex="-1" role="dialog" aria-labelledby="modal-lbl-username" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-lbl-username">House Of Kings</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("~/Views/Account/_TempUsername.cshtml");}
            </div>
        </div>
    </div>
</div>

<div class="cntrl cntrl-header">
    <p id="audit"></p>
</div>

<div class="cntrl cntrl-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="hidden" id="group-name" value="@Model.GroupName" />
                        @Html.DisplayFor(m => m, "Card")
                    </div>
                    <div class="col-xs-6">
                        <p class="stats">
                            <span id="card-count" class=""></span>
                            <span class="stats-label">
                                cards remaining
                            </span>
                        </p>
                        <p class="stats">
                            <span id="king-count" class=""></span>
                            <span class="stats-label">
                                kings remaining
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">

                <br />
                <hr />
                <p id="message" class="text-center"></p>
            </div>
        </div>
    </div>
</div>

<div class="cntrl cntrl-footer">
    <button type="button" class="btn btn-primary btn-lg btn-block action-pick-card">Pick Card</button>
</div>