@model HouseOfKings.Web.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/hok.game.js"></script>

}

<div class="cntrl cntrl-header">
    <div class="container-fluid">
    <p id="audit"></p>

    </div>
</div>

<div class="cntrl cntrl-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                @*<div class="row">
                        <div class="col-xs-6">
                            @{Html.RenderPartial("_Card");}
                        </div>
                        <div class="col-xs-6">
                            
                        </div>
                    </div>*@
                <input type="hidden" id="group-name" value="@Model.GroupName" />
                <div class="group-circle">
                </div>
            </div>
           
            <p class="col-xs-6 stats">
                <span id="card-count" class=""></span>
                <span class="stats-label">
                    cards remaining
                </span>
            </p>
            <p class="col-xs-6 stats">
                <span id="king-count" class=""></span>
                <span class="stats-label">
                    kings remaining
                </span>
            </p>              
            <div class="col-xs-12">

                <br />
                <hr />
                <p id="message" class="text-center"></p>
            </div>
        </div>
    </div>
</div>

<div class="cntrl cntrl-footer">
    <div class="container-fluid">
    <button type="button" class="btn btn-primary btn-lg btn-block action-pick-card">Pick Card</button>

    </div>
</div>