@model HouseOfKings.Web.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/hok.game.js"></script>

}

<div class="modal fade" id="rule-modal" tabindex="-1" role="dialog" aria-labelledby="rule-modal-lbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <p id="rule-desc" class="text-center"></p>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" id="action-replay" data-dismiss="modal" class="btn btn-primary btn-block">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gameover-modal" tabindex="-1" role="dialog" aria-labelledby="gameover-modal-lbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <p id="gameover-message" class="text-center"></p>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" id="action-replay" data-dismiss="modal" class="btn btn-primary btn-block">Play Again</button>
                    </div>
                    <div class="col-xs-6">
                        <a href="@Url.Action("Index","Home")" id="action-leave" class="btn btn-default btn-block">Leave</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cntrl cntrl-header">
    <div class="container-fluid">
        <p id="audit"></p>
    </div>
</div>

<div class="cntrl cntrl-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <input type="hidden" id="group-name" value="@Model.GroupName" />
                <div class="group-circle horizontal-center">
                    @{Html.RenderPartial("_Card");}
                </div>
            </div>

            <p class="col-xs-6 stats">
                <span id="card-count" class=""></span>
                <span class="stats-label">
                    cards remaining
                </span>
            </p>
            <p class="col-xs-6 stats">
                <span id="king-count" class=""></span>
                <span class="stats-label">
                    kings remaining
                </span>
            </p>
            <div class="col-xs-12">

                <div id="message" class="rule-panel">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cntrl cntrl-footer">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary btn-lg btn-block action-pick-card" data-pick-text="Pick Card" data-waiting-text="Waiting for my turn..." data-picking-text="Picking card...">Pick Card</button>
    </div>
</div>