@import "bootstrap/bootstrap.less";
@import "fontawesome/font-awesome.less";

@import "font.less";
@import "variables.less";

.body-content {
    padding-top: 60px;
}

.absolute-center{
 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.horizontal-center{
margin:0 auto;
}

#audit {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    text-align:center;
}

.suit {
    color: black;
    display: inherit;
    font-family: @font-family-sans-serif;

    &.suit-club {
        &:after {
            content: '♣';
            display: inherit;
            margin: 0 2px;
        }
    }

    &.suit-spade {
        &:after {
            content: '♠';
            display: inherit;
            margin: 0 2px;
        }
    }

    &.suit-heart {
        color: red;

        &:after {
            content: '♥';
            display: inherit;
            margin: 0 2px;
        }
    }

    &.suit-diamond {
        color: red;

        &:after {
            content: '♦';
            display: inherit;
            margin: 0 2px;
        }
    }
}

.card {
    position: absolute;
    height: 100px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;

    &.card-red {
        color: red;
    }

    .card-info {
        margin: 8px 5px;
        display: block;
        font-size: 14px;

        &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            -ms-transform: rotate(180eg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }

        .card-number {
            display: block;
        }

        .card-suit {
            display: block;
        }
    }
}

.group-circle {

@media (max-width: @screen-xs-max) { 
      padding-bottom:100%;
    width: 100%;

}

@media (min-width: @screen-sm-min) { height:350px;width:350px; }
    position: relative;
    border: 1px solid #efefef;
    border-radius:50%;
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);

    > * {
    
 -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);

    }
}

.player {
    position: absolute;
    display:block;
    text-align:center;
    &:before {
        font-family: FontAwesome;
        content: "\f007";
        font-size: 50px;
        position: relative;
        display:inherit;
    }
}

.stats {
text-align:center;
    color: red;
    font-weight: bold;

    > .stats-label {
        font-size: small;
        color: black;
        display: block;
        text-transform: uppercase;
    }
}

.cntrl {
    position: fixed;
    left: 0;
    right: 0;

    &.cntrl-header {
        top: 55px;
        height: 30px;
    }

    &.cntrl-content {
        top: 100px;
        bottom: 55px;
        overflow: auto;
    }

    &.cntrl-footer {
        bottom: 5px;
        height: 45px;
    }
}